:root {
  --primary-text-color: #2c2c2c;
  --accent-text-color: #bbf330;
  --btn-bg: #bbf330;
  --accent-btn-bg: #ffe550;
  --header-bg-color: #fefefe;
  --btn-border: #7eb101;
  --input-placeholder-color: #505050;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  min-width: 320px;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-block {
  display: flex;
  position: relative;
  align-items: center;
  background: #fefefe;
  padding: 0 20px;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

.nav-list {
  display: flex;
  gap: 28px;
}

.logo {
  margin-right: auto;
  padding: 10px 0;
}

.navigation {
  display: none;
  margin-right: 30px;
}

.nav-link {
  display: block;
  padding: 28px 0;
  color: var(--primary-text-color);
  transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #bbf330;
  font-weight: 500;
  text-decoration-line: underline;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
  font-weight: 700;
  text-decoration-line: underline;
}

.header-button {
  display: none;
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 13px;
  font-family: inherit;
  font-weight: 500;
  line-height: 150%;
  background-color: var(--btn-bg);
  padding: 6px 18px;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.header-button:hover,
.header-button:focus {
  background-color: var(--accent-btn-bg);
}

@media screen and (max-width: 768px) {
  .navigation,
  .header-btn {
    display: none;
  }

  .hamburger {
    fill: #7eb101;
  }
}

@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle {
  outline: none;
  border: none;
  background-color: inherit;
}

.mobile-close-button {
  background-color: transparent;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  top: 50px;
  right: 0;
  width: 130px;
  border-radius: 30px 0px 30px 30px;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  background-color: #fefefe;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  margin-right: 20px;
}

.close-button {
  display: flex;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border: transparent;
  background: var(--accent);
}

.mobile-nav {
  padding: 16px;
  transition: background-color 250ms ease-in-out;
}

.mobile-nav:active {
  background-color: var(--accent-text-color);
}

.hero-block {
  margin-top: 60px;
}

.hero-title {
  font-size: 28px;
  font-weight: 700;
}

.text-wrap {
}

.hero-text {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 28px;
  margin-bottom: 38px;
}

.hero-button {
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 13px;
  font-family: inherit;
  font-weight: 500;
  line-height: 150%;
  background-color: var(--btn-bg);
  padding: 6px 18px;
  border: none;
  border-radius: 30px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-btn-bg);
}

.hero-image {
  border: 26px solid var(--accent-btn-bg);
  border-radius: 50%;
}

@media (max-width: 767px) {
  .hero-image, .dish-images li:nth-child(n + 4) {
    display: none;
  }
}

.offerings-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/mobile-up.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 41px;
  padding-bottom: 72px;
}

.main-subtitle {
  line-height: 120%;
  font-size: 28px;
  font-weight: 700;
}

.offerings-text {
  font-size: 14px;
  line-height: 1.4;
  margin: 28px 0;
}

.offerings {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.icon-wrapper {
  border-radius: 50%;
  background-color: #fff;
  width: 48px;
  height: 48px;
}
.icon {
  padding: 8px;
}
.offering-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 16px;
}

.offering-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.offerings-button {
  border-radius: 30px;
  border: 2px solid var(--btn-border);
  background: #fff;
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
}

.offerings-nav {
  display: flex;
  align-items: baseline;
  margin-top: 28px;
  gap: 24px;
}
.image-wrap {
  position: relative;
  display: flex;
  border: 12px solid var(--accent-btn-bg);
  outline: 3px solid rgba(255, 255, 255, 0.5);
  background-color: #fff;
  width: 255px;
  height: 255px;
  border-radius: 50%;
  justify-content: center;
}

.apples {
  display: flex;
  margin-bottom: 60px;
  align-items: baseline;
}
.second-apple {
  display: none;
  opacity: 0.6;
  margin-left: 30px;
  padding-bottom: 67px;
}
.third-apple {
  display: none;
  opacity: 0.3;
  margin-left: 44px;
  padding-bottom: 67px;
}
@media (min-width: 768px) and (max-width: 1157px) {
  .second-apple,
  .third-apple {
    display: block;
  }
}
.offering-image {
  position: absolute;
  top: -41px;
}

.dishes-block {
  margin: 60px 0;
}
.dishes-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.dishes-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.dish-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.dish-image {
  border: 11px solid var(--accent-btn-bg);
  border-radius: 50%;
  padding: 29px 28px;
}


.review-block {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/mobile-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.review-description {
  margin-top: 20px;
  margin-bottom: 32px;
}

.reviewer-description::after {
  display: block;
  content: "";
  width: 1px;
  height: 52px;
  background-color: var(--btn-border);
}
.review-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.review-card {
  background-color: #fff;
  border-radius: 30px;
  border-top-left-radius: 0;
  padding: 8px;
}
.review {
  font-size: 16px;
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 40px;
}

.reviewer-description {
  display: flex;
  gap: 16px;
}

.reviewer-image {
  border-radius: 50%;
  border: 2px solid var(--accent-btn-bg);
}
.reviewer-name {
  font-weight: 500;
  line-height: 150%;
}
.reviewer-post {
  line-height: 150%;
}
.customers-image {
  margin-top: -43px;
}

.subscribe-block {
  margin-top: 17px;
  margin-bottom: 60px;
}
.subscribe-text {
  margin-top: 20px;
  margin-bottom: 40px;
}
.subscribe-form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.subscribe-input {
  align-items: center;
  height: 18px;
  width: 279px;
  padding: 12px 0px 12px 12px;
  border-radius: 30px;
  border: 1px solid var(--accent-btn-bg);
  background-color: #fff;
}

.subscribe-input::placeholder {
  color: var(--input-placeholder-color);
  font-size: 12px;
  line-height: 150%;
}
.subscribe-button {
  border-radius: 30px;
  background: var(--btn-bg);
  padding: 11px 22px;
  border: none;

  color: inherit;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
}

.footer-block {
  padding-top: 64px;
  padding-bottom: 60px;
  background: var(--header-bg-color);
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
}
.menu-footer {
  display: flex;
  gap: 46px;
}
.menu-navs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-nav {
  color: #000;
}
.form-text {
  margin-top: 40px;
  font-weight: 500;
  line-height: 150%;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 12px;
  margin-bottom: 24px;
}
.footer-input {
  align-items: center;
  height: 18px;
  width: 279px;
  padding: 12px 0px 12px 12px;
  border-radius: 30px;
  border: 1px solid var(--accent-btn-bg);
  background-color: #fff;
}

.footer-input::placeholder {
  color: var(--input-placeholder-color);
  font-size: 12px;
  line-height: 150%;
}

.footer-button {
  border-radius: 30px;
  border: 1px solid var(--btn-border);
  background: #fff;
  padding: 8px 22px;

  color: inherit;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
}

.footer-rules {
  font-size: 10px;
}
.footer-links {
  display: flex;
  gap: 35px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer-link {
  color: var(--btn-border);
  font-size: 10px;
  text-decoration-line: underline;
}
.footer-rights {
  font-size: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .logo {
    margin-right: auto;
  }
  .navigation,
  .header-button,
  .hero-image {
    display: block;
  }

  .container.hero-block {
    padding-left: 40px;
    padding-right: 32px;
  }
  .content-wrap {
    display: flex;
    gap: 54px;
    margin-bottom: -95px;
  }

  .hero-title {
    font-size: 42px;
    line-height: 120%;
    width: 537px;
  }
  .hero-text {
    margin-top: 46px;
    margin-bottom: 40px;
  }
  .hero-image {
    border: 14px solid var(--accent-btn-bg);
    margin-top: -20px;
  }

  .offerings-block {
    background-image: url(../images/tablet-up.svg);
    padding-top: 150px;
    margin-top: -110px;
    padding-bottom: 88px;
    align-items: flex-start;
  }
  .offering-image {
    width: 257px;
    height: 325px;
  }
  .image-wrap {
    width: 325px;
    height: 325px;
  }
  .offerings {
    flex-direction: row;
    gap: 80px;
    margin-right: 116px;
    margin-bottom: 20px;
  }

  .main-subtitle {
    font-size: 42px;
    width: 526px;
  }
  .offerings-text {
    width: 500px;
    font-size: 16px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .dishes-title {
    font-size: 42px;
  }
  .dishes-text {
    font-size: 16px;
  }
  .dish-images {
    gap: 32px;
  }
  .dish-image {
    border-width: 14px;
  }

  .review-block {
    background-image: url(../images/tablet-down.svg);
    padding-top: 60px;
  }
  .review-description {
    font-size: 16px;
  }
  .review-cards {
    flex-direction: row;
    gap: 32px;
  }
  .customers-image {
    margin-left: auto;
    margin-top: 46px;
  }
}
